@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lora/v35/0QIvMX1D_JOuMwr7Iw.woff2) format('woff2');
    /* src: url(./fonts/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkq0.woff2) */
  }

  p {
      font-family: Lora, serif;
  }
  .normal {
      font-variant-ligatures: normal;
  }

  .none {
      font-variant-ligatures: none;
  }

  .common-ligatures {
      font-variant-ligatures: common-ligatures;
  }

  .no-common-ligatures {
      font-variant-ligatures: no-common-ligatures;
  }

  .discretionary-ligatures {
      font-variant-ligatures: discretionary-ligatures;
  }

  .no-discretionary-ligatures {
      font-variant-ligatures: no-discretionary-ligatures;
  }

  .historical-ligatures {
      font-variant-ligatures: historical-ligatures;
  }

  .no-historical-ligatures {
      font-variant-ligatures: no-historical-ligatures;
  }

  .contextual {
      font-variant-ligatures: contextual;
  }

  .no-contextual {
      font-variant-ligatures: no-contextual;
  }
  .virtual-element {
      position: relative;
      display: block;
      width: 100%;
      max-width: 700px;
  }

  .virtual-element::before,
  .virtual-element::after {
      position: absolute;
      display: block;
      content: "";
      width: 37px;
      height: 32px;
      top: 50%;
      margin-top: -16px;
  }

  .virtual-element::before {
      left: 0;
      background-image: url(https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg);
  }

  .virtual-element::after {
      right: 0;
      background-image: url(./media/lake.jpg);
  }

  .grid {
      padding: 10px;display: grid; 
      grid-template-columns: repeat(4, 300px); 
      grid-template-rows: repeat(5, 0.5fr); 
      gap: 5px;
  }

  .grid > div {
      border: 1px solid black;
  }


  .row {
      display: flex;
      flex: 1 auto;
      flex-direction: row;
      flex-wrap: wrap;
      height: auto;
  }

  .col {
      display: flex;
      flex: 1 auto;
      flex-direction: column;
      height: auto;
  }

  .cell {
      margin: 0.5em;
      padding: 0.5em;
      background-color: #fff;
      overflow: hidden;
      text-align: center;
  }

  .note {
      background: #fff3d4;
      padding: 1em;
      margin: 0.5em 0.5em 0;
      font: 0.8em sans-serif;
      text-align: left;
      white-space: nowrap;
  }

  .note + .row .cell {
      margin-top: 0;
  }

  .container {
      position: relative;
      background: linear-gradient(to right, #000 0%, transparent 50%, #fff 100%),
          linear-gradient(to bottom, #ff0 0%, #f0f 50%, #0ff 100%);
      width: 150px;
      height: 150px;
      margin: 0 auto;
  }

  .R {
      transform-origin: center;
      transform: rotate(-30deg);
      fill: url(#red);
  }

  .G {
      transform-origin: center;
      transform: rotate(90deg);
      fill: url(#green);
  }

  .B {
      transform-origin: center;
      transform: rotate(210deg);
      fill: url(#blue);
  }

  .isolate .group {
      isolation: isolate;
  }

  .normal .item {
      mix-blend-mode: normal;
  }
  .multiply .item {
      mix-blend-mode: multiply;
  }
  .screen .item {
      mix-blend-mode: screen;
  }
  .overlay .item {
      mix-blend-mode: overlay;
  }
  .darken .item {
      mix-blend-mode: darken;
  }
  .lighten .item {
      mix-blend-mode: lighten;
  }
  .color-dodge .item {
      mix-blend-mode: color-dodge;
  }
  .color-burn .item {
      mix-blend-mode: color-burn;
  }
  .hard-light .item {
      mix-blend-mode: hard-light;
  }
  .soft-light .item {
      mix-blend-mode: soft-light;
  }
  .difference .item {
      mix-blend-mode: difference;
  }
  .exclusion .item {
      mix-blend-mode: exclusion;
  }
  .hue .item {
      mix-blend-mode: hue;
  }
  .saturation .item {
      mix-blend-mode: saturation;
  }
  .color .item {
  mix-blend-mode: color;
  }
  .luminosity .item {
      mix-blend-mode: luminosity;
  }
  .plus-darker .item {
      mix-blend-mode: plus-darker;
  }
  .plus-lighter .item {
      mix-blend-mode: plus-lighter;
  }

  table {
      border-collapse: collapse;
  }

  td,
  th {
      border: 2px black solid;
      padding: 4px;
  }

  th {
      background-color: lightgray;
  }

  .experimental {
      display: none;
  }

  .notice {
      display: table-row;
      font-weight: bold;
      text-align: center;
  }

  @supports (writing-mode: sideways-lr) {
      .experimental {
          display: table-row;
      }
      .notice {
          display: none;
      }
  }

  .text1 td {
      writing-mode: horizontal-tb;
  }

  .text2 td {
      writing-mode: vertical-lr;
  }

  .text3 td {
      writing-mode: vertical-rl;
  }

  .text4 td {
      writing-mode: sideways-lr;
  }

  .text5 td {
      writing-mode: sideways-rl;
  }

  .filter-test {
      /* blur : 흐리게 */
      /* filter: blur(3px); */
      /* brightness : 밝게 */
      /* filter: brightness(150%); */
      /* contrast : 대비 */
      /* filter:contrast(150%); */
      /* grayscale : 흑백 */
      /* filter: grayscale(50) */
      /* invert : 색반전 */
      filter : invert(30)
  }